<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2019.
  ~
  ~ @author Igor A Tarasov <develop@dicr.org>
  -->

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="my tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
